#about {
  float: left;
  width: 35%;
}

#about h2 {
  padding-bottom: 9px;
}

#about p {
  font-size: 12px;
  line-height: 1.3;
  padding-top: 8px;
}

#recent-white-accomplishments {
/*  padding-top: 10px;*/
  float: right;
  width: 60%;
}

#recent-white-accomplishments h2 {
  padding-bottom: 16px;
}

#left-side {
  float: left;
  width: 60%;
}

#profile-info {
  margin-bottom: 20px;
  overflow: hidden;
}

#profile-info img {
  float: left;
  margin-right: 8px;
}

#profile-info .name-progress {
  float: left;
}

#profile-info h2 {
  margin-bottom: 3px;
}

#right-side {
  float: right;
  width: 35%;
}

.random-wrap {
  min-height: 85px;
}

.random-wrap + .random-wrap {
  border-top: 1px solid #ccc;
  margin-top: 8px;
  padding-top: 8px;
}

.random-post .question {
  font-weight: bold;
  margin-bottom: 10px;
}

.random-post .not-yet {
  margin-left: 10px;
}

.random-post .full-list {
  margin-top: 10px;
}

.random-post .summary {
  margin: 9px 0;
}
