body {
  font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
  font-size: 11px;
}

a {
  color: #3B5998;
  outline-style: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:hover img {
  text-decoration: none;
}

h2 {
  color: #1C2A47;
  font-size: 16px;
}

h2 a {
  display: inline-block;
  font-size: 11px;
  margin-left: 10px;
}

strong {
  font-weight: bold;
}

#banner {
  background-color: #3B5998;
  height: 35px;
  padding-top: 10px;
}

.body {
  margin: 0 auto;
  width: 750px;
}

#header a {
  color: white;
}

#header .title {
  float: left;
  font-size: 20px;
  margin-right: 20px;
}

#header #menu {
  float: left;
}

#content {
  overflow: hidden;
  padding: 20px 10px 20px 10px;
}