h2 {
  border-bottom: 1px solid #E9E9E9;
  margin-bottom: 4px;
  padding-bottom: 7px;
}

#filters a {
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
}

#filters a.selected {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}

#filters a + a {
  margin-left: 5px;
  padding-left: 5x;
}

#full-list {
  margin-top: 10px;
}

#full-list li {
  padding-bottom: 2px;
}

#full-list li.complete {
  display: none;
}

#have-you-done-this {
  border-bottom: 1px solid #E9E9E9;
  border-left: 1px solid #E9E9E9;
  border-right: 1px solid #E9E9E9;
  float: right;
  font-size: 13px;
  padding: 10px;
  width: 45%;
}

#have-you-done-this p {
  margin-bottom: 10px;
}

#other-white-people {
  float: left;
  padding-top: 10px;
  width: 45%;
}

#other-white-people .people {
  padding: 5px 0;
  overflow: hidden;
}

#other-white-people .person {
  float: left;
  margin-right: 5px;
  text-align: center;
  width: 60px;
}