#profile-info {
  margin-bottom: 10px;
  overflow: hidden;
}

#profile-info img {
  float: left;
  margin-right: 8px;
}

#profile-info .name-progress {
  float: left;
}

#profile-info h2 {
  margin-bottom: 3px;
}

#profile-info h2 .last-accomplishment {
  font-size: 12px;
  color: #808080;
}

#accomplishments {
  font-size: 12px;
}

#accomplishments ul {
  margin-left: 8px;
}

#accomplishments li {
  padding-top: 2px;
}

#accomplishments .date {
  font-size: 11px;
}