#profile-info {
  margin-bottom: 10px;
  overflow: hidden;
}

#profile-info img {
  float: left;
  margin-right: 8px;
}

#profile-info h2 {
  display:table-cell;
  vertical-align:top;
}

#accomplishments {
  font-size: 12px;
}

#accomplishments ul {
  margin-left: 8px;
}

#accomplishments li {
  padding-top: 2px;
}