<div id="progress">
  <div class="meter">
    <%= content_tag :div, '', :class => 'filled', :style => "width: #{number_to_percentage(user.progress * 100)}" %>
  </div>
  <div class="percent">
    <%= number_to_percentage(user.progress * 100, :precision => 1) %> White
  </div>
</div>
