<%= debug @accomplishments %>


<%# @accomplishments.each do |accomplishment| %>
  <li>
    <%# debug accomplishment %>
    <%# link_to user, :class => 'pic' do %>
      <%# facebook_picture(user.fb_uid) %>
    <%# end %>
  </li>
<%# end %>