<div id="friends">
  <h2>Hello <%= facebook_name(facebook_user.fb_uid) %></h2>
  <h2>You are whiter than 50% of your friends</h2>
</div>

<div id="random-white-thing">
  <%= render 'random_white_thing' %>
</div>

<script>
$(function() {
  // $.getScript(url, function() {
  // FB.ui(share, function(response) { console.log(response); });
});
</script>