<%= stylesheet_link_tag 'shared/feed' %>

<style>
#recent-white-accomplishments {
  float: right;
  width: 60%;
}
</style>

<div id="about">
  <h2>How White Are You?</h2>
  <p>
    If you're a fan of
    <%= link_to 'Stuff White People Like', 'http://stuffwhitepeoplelike.com' %>,
    it's time to put yourself to the test as a white person.
  </p>
  <p>
    Click Login to begin comparing yourself with friends, and measuring white progress.
  </p>
  <p>
    <fb:login-button show-faces="true"></fb:login-button>
  </p>
</div>

<%= render 'recent_activity' %>