<!DOCTYPE html>
<head>
  <%= stylesheet_link_tag 'layout' %>
</head>
<body>

  <div id="body">
    <%= yield %>
  </div>
  
  <ul>
    <% Post.all.each do |post| %>
      <li><%= link_to_post(post) %></li>
    <% end %>
  </ul>
</body>
</html>